﻿<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-2" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><h5> Reparacion de Dispositivos </h5></a>
        <button id="btnTogle" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" 
                    aria-label="Toggle navigation"><i class="fas ic-2 fa-stream text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">¿Que hacemos?</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Nuestros Servicios</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Dispositivos Arreglados</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contactanos</a></li>
            </ul>
        </div>
    </div>
</nav>